<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".activities.BaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.AddNewCourseActivity" />
        <activity android:name=".activities.CourseManagementActivity" />
        <activity android:name=".activities.CourseDetailActivity" />
        <activity android:name=".activities.BookingManagementActivity" />
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".activities.UserManagementActivity" />
        <activity android:name=".activities.SearchActivity" />
    </application>

</manifest>